CompileFlags:
  Add: [-I/usr/include/libxml2, -Wall, -Wextra, -std=c17]
  Diagnostics:
  UnusedIncludes: Strict
  Suppress: [unknown-warning-option]
Index:
  Background: Yes
  StandardLibrary: Yes
  Comments: Yes
Completion:
  AllScopes: Yes
  IncludeInsertion: Yes
  FilterAndSort: Yes
InlayHints:
  Enabled: Yes
  ParameterNames: Yes
  DeducedTypes: Yes
